
$full_width: 1440px;
$semidesk_width: 1280px;
$big_laptop_width: 1040px;
$laptop_width: 900px;
$tablet_width: 768px;
$mobile_width: 550px;
$m_mobile_width: 480px;
$s_mobile_width: 330px;

// Add colors