html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family:'GoshaSans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'GoshaSans';
  src: local('GoshaSans'), url(../public/fonts/GoshaSans/GoshaSans-Regular.otf) format('truetype');
}
input,textarea,button{
  font-family: 'GoshaSans';
}