@import 'variables';

.topcover_container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 1rem;
  .topcover_image{
    h1{
      font-size: 100px;
      margin: 0;
    }
  }

}